# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- python
- JS
- C++
- SQL
- Apache

Some of the popular languages that Data Scientists use are:
1. python
2. JS
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Spark
2. Numpy
3. Pandas

|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

his will convert 200 minutes to hours by diving

In [3]:
200/60

3.3333333333333335

## Author
Meryem